/*=========================================== 
Autor: 7MarV7
file: back-to-top.css
Date: 20.07.2024
Last changes: 09.09.2024  
===========================================*/



a.back-to-top {
    position: fixed;
    bottom: 0.5rem;
    right: 2.5rem;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
    color: whitesmoke;

    transition: background .3s ease-in-out, opacity .3s ease-in-out;

    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    padding-top: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;

    opacity: 0; /* Start invisible */
    visibility: hidden; /* Hide from view */
    pointer-events: none; /* Prevent clicking when hidden */
}

a.back-to-top:hover, a.back-to-top:focus {
    background-color: rgba(0, 0, 0, 0.8);
}
